{{define "main"}}

<article>
  <h2 class="text-5xl font-bold mb-4 text-center">{{.Title}}</h2>

	{{.TableOfContents}}

	{{.Content}}

  {{ $params := .Params }}

  <!-- If hashes exist -->
  {{ with .Params.hashes }}
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4">
      <!-- Iterate through hashes and display each in a card format -->
      {{ range . }}
        <div class="p-4 bg-white shadow-md rounded-lg">
          <h3 class="text-xl font-semibold mb-3">
            <a href="#{{ . }}" class="text-blue-500 hover:text-blue-700">#{{ . }}</a>
          </h3>
          {{ $newSpec := (printf "%s/#%s" $params.spec_full_name .) }}
          {{ partial "result-table.html" (merge $params (dict "spec_full_name" $newSpec))}}
        </div>
      {{ end }}
    </div>
  {{ end }}

  <!-- If child pages exist -->
  {{ if (gt (len .Data.Pages) 0) }}
    <h3 class="text-2xl font-bold mt-8 mb-4">Sub-Specs</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Display each child page side by side -->
      {{ range .Data.Pages }}
        <a href="{{ .Permalink }}" class="p-4 bg-white shadow-md rounded-lg text-center hover:bg-gray-100 transition">
          {{ .Title }}
        </a>
      {{ end }}
    </div>
  {{ end }}

  <!-- Main Dashboard with a different visual appeal -->
  <h3 class="text-3xl font-bold mb-4">Main Dashboard</h3>
  <div class="mt-2 p-6 shadow-xl rounded-lg">
    {{ partial "result-table.html" .Params }}
  </div>

</article>

<!--Tag-->
<ul>
  {{range (.GetTerms "tags")}}
<li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
  {{end}}
</ul>

<!--Prev/Next-->
{{with .PrevInSection}}Prev <a href="{{.RelPermalink}}">{{.Title}}</a>{{end}}
{{with .NextInSection}}Next <a href="{{.RelPermalink}}">{{.Title}}</a>{{end}}

<!--Related-->
{{$related := .Site.RegularPages.Related . | first 5}} {{with $related}}
<h3>See Also</h3>
<ul>
  {{range .}}
  <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
  {{end}}
</ul>
{{end}} {{end}}
