{{ define "specpill" }}
  <a href="{{ . }}"
     target="_blank"
     rel="noopener noreferrer"
     class="inline-flex items-center rounded-full bg-blue-50 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-700/10 no-underline">
    specs
  </a>
{{ end }}


{{define "main"}}

<article>
  <h2 class="text-5xl font-bold mb-4 text-center">
    {{.Title}}
    {{ template "specpill" (default "https://specs.ipfs.tech/" .Params.spec_full_name) }}
  </h2>

	{{.TableOfContents}}

	{{.Content}}

  {{ $params := .Params }}

  <!-- If hashes exist -->
  {{ with .Params.hashes }}
    <h3 class="text-2xl font-bold mt-8 mb-4">
      Sections Tests Results
    </h3>
    
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-4">
      <!-- Iterate through hashes and display each in a card format -->
      {{ range . }}
        {{ $newSpec := (printf "%s/#%s" $params.spec_full_name .) }}
  
        <div class="p-4 bg-white shadow-md rounded-lg">
          <h3 class="text-xl font-semibold mb-3 mt-1">
            <a href="#{{ . }}" class="text-blue-500 hover:text-blue-700">#{{ . }}</a>
            {{ template "specpill" $newSpec }}
          </h3>

          {{ partial "result-table.html" (merge $params (dict "spec_full_name" $newSpec))}}
        </div>
      {{ end }}
    </div>
  {{ end }}

  <!-- If child pages exist -->
  {{ if (gt (len .Data.Pages) 0) }}
    <h3 class="text-2xl font-bold mt-8 mb-4">
      Children Specs Tests Results
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Display each child page side by side -->
      {{ range .Data.Pages }}
        <a href="{{ .Permalink }}" class="p-4 bg-white shadow-md rounded-lg text-center hover:bg-gray-100 transition">
          {{ .Title }}
        </a>
      {{ end }}
    </div>
  {{ end }}

  <!-- Main Dashboard with a different visual appeal -->
  <h3 class="text-2xl font-bold mb-4">
    Aggregated Results
  </h3>
  <div class="bg-white mt-2 p-6 shadow-xl rounded-lg">
    {{ partial "result-table.html" .Params }}
  </div>

</article>

<!--Tag-->
<ul>
  {{range (.GetTerms "tags")}}
<li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
  {{end}}
</ul>

<!--Prev/Next-->
{{with .PrevInSection}}Prev <a href="{{.RelPermalink}}">{{.Title}}</a>{{end}}
{{with .NextInSection}}Next <a href="{{.RelPermalink}}">{{.Title}}</a>{{end}}

<!--Related-->
{{$related := .Site.RegularPages.Related . | first 5}} {{with $related}}
<h3>See Also</h3>
<ul>
  {{range .}}
  <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
  {{end}}
</ul>
{{end}} {{end}}
