{{ define "breadcrumbitem" }}
      {{ if (gt (len .Ancestors) 0) }}
        <svg
          class="h-8 w-8 flex-shrink-0 text-gray-300 px-1 pt-1 pb-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          aria-hidden="true"
        >
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
      <a
        href="{{ .RelPermalink }}"
        class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 pb-2 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        aria-current="page"
        >{{ .Title }}</a
      >
      {{ else }}
        {{/*  <a href="{{ .RelPermalink }}" class="text-gray-400 hover:text-gray-500">
          <svg
            class="h-5 w-5 flex-shrink-0"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="sr-only">{{ .Title }}</span>
        </a>  */}}
      {{ end }}
{{ end }}

{{- range $i, $p := .Ancestors.Reverse }}
  {{ template "breadcrumbitem" $p }}
{{ end }}
{{ template "breadcrumbitem" . }}
