<footer class="specs-footer">
  <div>
    <p>
      <a href="https://ipfs.tech/"><img src="{{ absURL "ipfs.svg" }}" width="20" height="20" alt="IPFS logo"> IPFS</a>
      &bull;
      <a href="https://ipld.io/"><img src="{{ absURL "ipld.svg" }}" width="20" height="20" alt="IPLD logo"> IPLD</a>
      &bull;
      <a href="https://libp2p.io/"><img src="{{ absURL "libp2p.png" }}" width="20" height="20" alt="libp2p logo"> libp2p</a>
      &bull;
      <a href="https://multiformats.io/"><img src="{{ absURL "multiformats.svg" }}" width="20" height="20" alt="Multiformats logo"> Multiformats</a>
    </p>
  </div>
</footer>