<footer class="bg-gray-900 mt-10" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <img class="h-20" src="{{ absURL "logo.png" }}" alt="Company name">
        <p class="text-sm leading-6 text-gray-300">Making the world a more conforming place.</p>
      </div>
    </div>
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-400">&copy; 2023.</p>
    </div>
  </div>
</footer>
