<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
  </head>

  <body>
    {{- partial "header.html" . -}}

    {{ if .Page.Params.showHero }}
    <header class="specs-hero bg-specs-gradient">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10 text-white">
        <img src="{{ "logo.png" | absURL }}" alt="Conformance Testing Logo" class="w-32 h-32" />
        <h1 class="my-6">
        IPFS Gateway Conformance Test Suite
        </h1>
        <p>
          The purpose of <em>IPFS Gateway Conformance</em> is to provide a HTTP-based, vendor-agnostic conformance test suite for users and implementers of IPFS.
        </p>
        <p>
          It ensures implementations comply with a subset of <a
            href="https://specs.ipfs.tech/">IPFS Specifications</a> beyond HTTP
          Gateway functionality. Tests included in this suite can be used to verify the
          implementations of data formats beyond raw blocks and
          CARs, such as HAMT-sharded UnixFS, DAG-CBOR, or even DNSLink and IPNS Records.
        </p>
        <p>
          Learn how to use this in your own project on <a href="https://github.com/ipfs/gateway-conformance#readme">Github</a>.
        </p>
      </div>
    </header>
    {{ end }}

    <div id="content" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
      <div class="mx-auto max-w-5xl">{{- block "main" . }}{{- end }}</div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
